body {
  background-color: #f0f8ff; /* 옅은 하늘색 */
  margin: 0; /* 기본 여백 제거 */
  min-height: 100vh; /* 화면 전체 높이 적용 */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 글 목록 컨테이너 스타일 */
.post-list-container {
  width: 70%;
  margin: 20px 0px 20px 0px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* 글 목록 헤더 스타일 */
.post-list-container h5 {
  margin: 0 0 15px 0;
  font-size: 1.5rem;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
/* 글 카드 컨테이너 스타일 */
.post-cards {
  display: grid; /* 그리드 레이아웃 사용 */
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* 카드 크기 자동 조정 */
  gap: 15px; /* 카드 간격 */
}

/* 개별 글 카드 스타일 */
.post-card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.post-card:hover {
  transform: translateY(-5px); /* 살짝 떠오르는 효과 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* 강조된 그림자 */
}

/* 글 카드 제목 스타일 */
.post-card h6 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: #555;
}

/* 글 카드 본문 스타일 */
.post-card p {
  margin: 0 0 10px 0;
  font-size: 1rem;
  color: #666;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header h4 {
  margin: 0;
  font-size: 1.25em;
}

.post-header .post-team {
  margin: 0;
  font-size: 1em;
  color: white;
  background-color: black;
  border: none;
  border-radius: 15px;
  padding: 5px;
}

.post-date {
  margin-top: 12px; /* 내용과 날짜 간격 추가 */
  font-size: 12px;
  color: rgb(168, 168, 168);
}
