/* 일요일 날짜: 빨간색 */
.fc .fc-day-sun a {
  color: red;
}

/* 토요일 날짜: 파란색 */
.fc .fc-day-sat a {
  color: blue;
}

/* 일정표 툴 바  */
.fc-header-toolbar {
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽으로 요소를 배치 */
  padding: 0; /* 기본 padding을 제거 */
  margin: 0; /* 기본 margin을 제거 */
}
/* 툴바의 버튼 */
.fc .fc-toolbar-chunk .fc-button {
  background-color: black;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  color: white;
}
/* 요일의 높이 */
.fc-theme-standard th {
  height: 20px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #7b7b7b;
  vertical-align: middle;
}

/* Tody Cell에 배경색 주기 */
.fc .fc-daygrid-day.fc-day-today {
  background-color: #d8d8d8;
}
/* 날짜 Cell 프레임 */
.fc .fc-daygrid-day-frame {
  padding: 5px;
}

/* 월간,주간 view의 Cell이 시작하는 위치 */
.fc .fc-daygrid-day-top {
  flex-direction: row;
  height: 30px;
  margin-bottom: 3px;
}
/* 날짜 숫자 z-index 초기화 */
.fc .fc-daygrid-day-number {
  z-index: auto !important;
}
/* 이벤트 막대 스타일 */
.fc-event {
  padding: 2px 8px;
  margin-bottom: 5px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

/* .fc-event :hover {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
} */
