.container {
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  height: 100vh; /* 화면 전체 높이를 사용 */
}

.what-team {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bold;
}

.my-team {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-content: center;
}

.button {
  width: 120px;
  height: 50px;
  padding: 10px;

  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: lightgrey;
  color: black;
}

.button.selected {
  background-color: black;
  color: white;
  font-weight: bold;
}

.this-team {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 120px;
  height: 50px;
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: grey;
  color: black;
}
